<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kandykova_PR_9.Properties.Settings.PR_9_KanConnectionString"
            connectionString="Data Source=10.10.1.24;Initial Catalog=PR_9_Kan;Persist Security Info=True;User ID=pro-41;Password=IsPro-41"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>